build*/
scripts/__pycache__
*.tar.gz
*~
cmake-3*
oneTBB-*
protobuf-*
outdir
testout
.gdb_history
testout
test_data
.vscode
.cache
*.pb
a.out
.clangd
profile_heaps
**/*log
**/*stdout
**/*stderr
**/*.pb.gz
scripts/recombination/filtering/data
scripts/recombination/filtering/fastas
scripts/recombination/filtering/old_data
scripts/recombination/results*
**/reference.fa